
@font-face {
    font-family: EmblemaOne;
    src: url(fonts/EmblemaOne-Regular.ttf);
}

main{
    margin:20px;
}


footer {
    background-color: rgb(172, 181, 184);
    text-align: center;
    padding: 25px;
    display: block;
    clear: both;
}

body {
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

