/*Base Styling*/

ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

body {
    background-color: #cfdfda;    
}
  
h1 {
color: darkblue;
}

img{
border: 15px #4a6c2f;
}


figcaption{
text-align: left;
color:black;
font-style: italic;
font-size: 15px;
}

#pine-tree-ad{
    max-height: 60px;
}

/*End of Base Styling*/

.flex-container{
    display: flex;
}

.flex-item{
    /* border: 1px solid black; */
    padding: 5px;
}

.pine-logo{
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

/* #header-bar{
} */

.title-bar{
    
}

.links-bar-item{
    display: flex; 
    justify-content: center;
}

#pine_tree{
    max-height: 75px;
}

/*
#home-link{
}

#permits-link{
}

#locations-links{
}


#ads-body{
}

#ads-sidebar{
}

#main-body{
}

#gallery-summary{
}*/

#gallery{
    height: 400px; 
}

/*
#summary-body{
}

#stats{
}

#summary{
}

#maps-comments{
}

#maps{
}

#comments{
} */