h1 {
    text-align: center;
}

@font-face {
    font-family: EmblemaOne;
    src: url(fonts/EmblemaOne-Regular.ttf);
}


body {margin: 0px;}

.navBar ul{
    list-style-type: none;
    background-color: rgba(7, 50, 72, 0.412);
    padding-left: 20%;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0px;
    overflow: hidden;
}
.navBar a{
    color: rgb(2, 48, 48);
    font-family: EmblemaOne;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 24px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: block;
    text-align: center;
}
.navBar a:hover {
    color: rgb(211, 228, 243);
    background-color: rgb(6, 30, 68);
    border-radius: 12px;
}

.navBar li{
    float: left;
}